@font-face {
    font-family: 'Breamcatcher';
    font-style: normal;
    font-weight: 400;
    src: local('Breamcatcher'), url('https://fonts.cdnfonts.com/s/15066/breamcatcher.woff') format('woff');
}
body {
 background-image: url("assets/logo_squared.png");
 background-color: #2c2136;
 color: #fff7cb;
 text-align: center;
 font-family: 'Breamcatcher', sans-serif;
                                                
   /* Scale the image to cover the entire screen without distortion */
  background-size: cover; 
 
  
  /* Keep the image centered horizontally and vertically */
  background-position: center center; 
  
  /* Prevent the image from repeating like a tile */
  background-repeat: no-repeat; 
  
  /* Fix the image in place so it doesn't scroll with the content */
  background-attachment: fixed; 
  
  background-size: 300px;
}

p {
 color: #fff7cb;
 font-family: 'Breamcatcher', sans-serif;
}

.a {
  text-align: center;
}

.text {

  position: absolute;
  left: 50%;
  right: 50%;
  justify-content: center; 

}

.video1 {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 3px solid #fff7cb;
}
.video2 {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 3px solid #fff7cb;
}
.video3 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border: 3px solid #fff7cb;
}
.video4 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: 3px solid #fff7cb;
}
